<!DOCTYPE html>
<html lang="en">
  <head>
    {% comment %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endcomment %}
    <title>Receipts</title>
    {% comment %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    {% endcomment %}
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            {% if user.is_authenticated %}
            <a href="{% url 'home' %}">Receipts</a>
            {% endif %}
          </li>
          <li>
            {% if user.is_staff %}
            <a href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
          </li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li><a href="{% url 'home' %}">Receipts</a></li>
          <li><a href="{% url 'category_list' %}">Categories</a></li>
          <li><a href="{% url 'account_list' %}">Accounts</a></li>
          <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
          <li><a href="{% url 'create_account' %}">Create Account</a></li>
          <li><a href="{% url 'create_category' %}">Create Category</a></li>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %} 
    
    {% endblock content %}
  </body>
</html>
